body {
  background-color:#272525;
  font-family:"Arial";
  color: white;
}

/*This is nav bar shtuff*/
body {margin:0;}

ul {  
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li a {
  color: white;
  text-align: left;
  padding: 0px 10px;
  text-decoration: none;
}

li :hover {
  background-color: #111;
}

li active {
  background-color: #04AA6D;

