<!DOCTYPE html>
{%extends "layout.html"%} <!--Tells to get layout.html to then get to block content-->
{%block content%}
<style>
  #Home {
    color: white;
  }
</style>
<p><br></p>
<p>{{error}}</p>
<img src="/static/KABAJ.png" class="centre"> 
<div class="infotext">KABAJ is an anonymous textboard website with subject based boards that users can create posts in.</div>
<h2>FAQ SECTION:</h2>
 <h3>How do I work this?</h3>
<p>The footer has the three avaliable boards based on subject where you can access all the posts related to that board.</p>
<p>There is also a button you can press for creating posts which you can then view on said boards.</p>
<p>Once you in the post creator, put in your post name and post text as well as the category of that post.</p>
<h3>Can I edit/delete a post once I've made it?</h3>
<p>No. You just have to sit there and acknowledge the jumble of text you've sent through onto this website. It stays here forever preserved, unless an Admin deletes it.</p>
<h3>Can I respond to other people's posts?</h3>
<p>No.Go cry about it</p>
<h3>Is it fully anonymous?</h3>
<p>No, you still need to sign up with an account to make posts, but people cannot see who created posts.</p>
<h3>Would this anonymous ability be used for malicious purposes?</h3>
<p>I'm aware that there is a chance for malicious vandals to do no good on this website. That's why there's Admin accounts. They can delete the no-no stuff.</p>
<br>

{%endblock%}