<!DOCTYPE html>
{%extends "layout.html"%} <!--Tells to get layout.html to then get to block content-->
{%block content%}
<style>
  #Home {
    color: white;
  }
</style>
<p><br></p>
<p>{{error}}</p>
<img src="/static/KABAJ.png" class="centre"> 
<div class="hometext">KABAJ is a Burnside-based imageboard with subject/department-based boards that users can create threads, posts and images in.</div>
<h1>???? Welcome to a work in progress of KABAJ</h1>
<h2>Very cool homepage I'd say (I am lying)</h2>
<h2> The preceeding statement is true</h2>
<h2> THAT preceeding statement is false</h2>
{%endblock%}