<!DOCTYPE html>
{%extends "layout.html"%}
{%block content%}
<style>
  #signup {
    color: white;
  }
</style>
<p><br></p>
<h1> Very cool sign up page (Not clickbait) </h1>
<p> Now put your information in to sign up thanks</p>
<hr>
<form method="post">
<label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
   <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
<button type="submit" class="signupbutton">Sign Up</button>
</form>
<a href="login">Already have an account? Good job, but go here instead.</a>
<p> {{errorr}}</p>
{%endblock%}
